extends layout

block content
  h1= title

  form(method="POST")
    div.form_group
        label(for="email") Email:
        input#email(type="email", placeholder="email" name="username" required value=(username===undefined ? "" : username))
        label(for="password") password:
        input#password(type="password", placeholder="Password" name="password" required value=(password===undefined ? "" : password))
        button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
