extends layout

block content
  h1= title

  form(method="POST")
    div.form_group
      label(for="title") Title:
      input#title(type="text" name="title" placeholder="title" value=(message===undefined ? "" : message.title))
      label(for="message") Message:
      textarea#title(name="message" placeholder="message")=(message===undefined ? "" : message.body)
      button.btn.btn-primary(type="submit") Post

  if errors
    ul
      for error in errors
        li!= error.msg
