extends layout

block content
  h1= title

  form(method="POST")
    div.form_group
      label(for="first_name") First Name:
      input#first_name(type="text", placeholder="First name" name="first_name" required value=(first_name===undefined ? "" : first_name))
      label(for="last_name") Last Name:
      input#last_name(type="text", placeholder="Last name"  name="last_name" required value=(last_name===undefined ? "" : last_name))
      label(for="email") Email:
      input#email(type="email", placeholder="email" name="username" required value=(username===undefined ? "" : username))
      label(for="password") password:
      input#password(type="password", placeholder="Password" name="password" required value=(password===undefined ? "" : password))
      button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
  if signup_error
    ul
      li!=signup_error
